.map-container {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 50px;
    margin-left: 50px;
  }

.form-container {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  width: 30%;
  }

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
