form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 3%;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: orange;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid black;
  }
  